.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../images/image_2.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.landing-pg{
    color: white !important;
}
.landing-pg>div>h1{
    font-weight: 700;
    font-size: 70px
}
.intro{
    font-size: 18px;
}
.btn-styled{
    color:white;
    background-color: blue;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    font-size: 19px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    padding: 6px;
}
.btn-default:hover{
    background-color: blue;
    color:white;
}
a{
    color:white;
}

.glyphicon{
    vertical-align: text-top;
}
.marketing{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.product-info-img{
    width: 100%;
    height: 100%;
}

.table-disp{
    display: table;
}

.cell-disp{
    display: table-cell;
    vertical-align: middle;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.prod-head{
    height: 100px;
    font-family: rockwell;
}

.prod-detail-lhs{
    background-image: url("..//images/product-rhs.jpg");
    height: 322px;
}
.prod-detail-rhs{
    height: 322px;
}
.f70{
    font-size: 70px;
}
.ghost-button{
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}
.over-hide{
    overflow: hidden;
}
.prod-feat{
    width: 80%;
    margin: 0px auto;
}

.prod-feat>div>p{
    font-weight: 600;
    text-align: left;
}
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
footer>div{
    margin: 15px 60px 0px 60px;    
}
footer{
    background-color: rgba(64,32,93,125);
    color:white;
    height: 70px;
    line-height: 70px;   
}

.carousel-caption>h1>span, .carousel-caption>p>span{
    background-color: rgba(0,0,0,0.5);
}
.prod-span{
    position: relative;
    font-weight: 700;
    font-size: 22px;
}